**/.git
**/.github
**/.gitignore
**/plans
**/work
**/tests
**/docs
**/*.md
**/README.md
**/.env
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.ruff_cache
**/.mypy_cache
**/node_modules
**/.venv
**/venv
**/.idea
**/.vscode
**/*.egg-info
**/.hatch
**/.tox
**/.coverage
**/htmlcov
**/dist
**/build